.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns_brief {
  width: 175px;
}
.two-columns_brief > h3 {
  font-weight: normal;
  font-size: 18px;
  height: 1.2;
  color: #2f80eb;
}

.two-columns_main-text {
  min-width: 784px;
  width: 80%;
  font-size: 24px;
}

.two-columns_paragraph {
  min-height: 34px;
  margin: 0 0 30px 0;;
}
.two-columns_paragraph:last-of-type {
  margin: 0;
}

.two-columns_span-accent {
  font-weight: bold;
}
