.element__like {
  background-image: url(../../../images/like-disabled.jpg);
}

.element__like:hover {
  opacity: .5;
}

.element__like:active {
  background-image: url(../../../images/like-active.jpg);
}
