.page {
  font-family: 'Inter', 'Arial', sans-serif;
  max-width: 950px;
  margin: 0 auto 60px;
}

@media screen and (max-width: 325px) {
  .page {
    margin-top: 28px;
    margin-bottom: 36px;
  }
}
