.form__submit-button {
  width: 100%;
  padding: 0;
  margin: auto 0 37px;
  height: 50px;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 2px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.form__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 400px) {
  .form__submit-button {
    margin: auto 0 25px;
    height: 46px;
    line-height: 5.313vw;
    font-size: 4.375vw;
  }
}
