.to-the-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 24px;
  line-height: 28px;
  color: rgb(204, 170, 18);
}

.to-the-top:hover {
  color: rgba(204, 170, 18, 30%);
}