.cover__subtitle {
  position: relative;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    line-height: 5vw;
    font-size: 4.375vw;
  }
}