body {
  font-family: 'Inter', 'Arial', sans-serif;
  min-width: 1100px;
  max-width: 1600px;
  color: #000000;
}

.header {
  display: flex;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 99;
  width: 183px;
  height: 32px;
}

.title {
  display: flex;
  margin-left: 64px;
  aligh-items: center;
  z-index: 98;
  min-height: 96px;
  font-size: 106px;
  font-weight: bold;
  width: 730px;
}

.subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 97;
  min-height: 25px;
  font-size: 18px;
  width: 388px;
  font-weight: normal;
}
.link {
  text-decoration: none;
  color: #2f80ed;
}

.main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px; 
}

.square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
