body {
  font-family: 'Inter', 'Arial', sans-serif;
}

.header {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  min-height: 600px;
  max-height: 756px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 99;
}

.title {
  display: flex;
  left: 64px;
  aligh-items: center;
  z-index: 98;
  min-height: 96px;
  font-size: 106px;
  font-weight: bold;
  width: 730px;
}

.subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 97;
  min-height: 25px;
  font-size: 18px;
  width: 388px;
}

.main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
}

.square-pic {
  position: absolute;
  top: 64px;
  right: 0;
}
