#header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 980px) {
  #header {
    padding-left: 8%;
    padding-bottom: 31.6px;
  }
}
