.profile__subtitle {
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 16px 0 0;
  padding: 0;
}

@media screen and (max-width: 325px) {
  .profile__subtitle {
    line-height: 17px;
    font-size: 14px;
  }
}
