.profile__add-button {
  background-image: url(../../../images/add-button.png);
  background-color: #000;
  background-position: 50% 50%;
  background-size: cover;
  border: none;
  width: 150px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}
