.kaufman {
  position: relative;
  background-color: black;
  color: white;
  padding: 90px 0;
  overflow: hidden;
}

.kaufman__triangle {
  background-image: url(../../images/triangle.svg);
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}
