.table {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  border-collapse: collapse;
  border: 2px solid #fff;
  text-align: center;
}

.table td {
  border: 1px solid rgb(139, 136, 136);
  padding: 3px 6px;
}