.table {
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  border-collapse: collapse;
  border: 2px solid #fff;
  text-align: center;
}

.table th {
  font-weight: 600;
}

.table td {
  border: 1px solid #e0e0e0;
  padding: 3px 6px;
}