.lead__subtitle {
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  padding: 0;
  margin: 32px 0 0;
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    line-height: 6.25vw;
    font-size: 5vw;
    margin: .5vw 0 0;
  }
}
