.cover {
  position: relative;
  background-image: url(../../images/cover.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-color: rgba(0, 0, 0, 0.3);
  max-width: 1184px;
  width: 100%;
  aspect-ratio: 16/10;
  margin: 92px auto 0;
}
