.places__place {
  margin: 80px auto 0;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em 1.5em;
}

@media screen and (max-width: 425px) {
  .places__place {
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
}
