.places__place {
  margin: 0;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 50% 50%;
  grid-gap: 2em 1.5em;
}

@media screen and (max-width: 320px) {
  .places__place {
  display: flex;
  flex-direction: column;
}
