.profile__info {
  display: grid;
  margin: 0;
  grid-template-columns: 24px auto 24px;
  gap: 16px 18px;
  justify-items: center;
}

@media screen and (max-width: 720px) {
  .profile__info {
    margin-top: 26px;
    grid-template-columns: 18px auto 18px;
    gap: 10px 10px;
}
