.cover__title {
  position: relative;
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
}

@media screen and (max-width: 620px) {
  .cover__title {
    line-height: 11vw;
    font-size: 10vw;
    margin: 0 0 16px;
  }
}
