.footer {
  max-width: 1184px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 0;
  }
}
