.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 0;
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    width: 288px;
    margin: 64px auto 0;
  }
}
